.loginPage{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f6f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginCard{
    width: 370px;
    background-color: white;
    box-sizing: border-box;
    padding: 80px 40px 100px 40px;
    border-radius: 20px;
    border:solid rgba(0,0,0,0.1) 1px;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: var(--shadow0);
    z-index: 0;
}
.loginCard .logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.loginCard .logoContainer img{
    width: 80px;
}

.loginCard .logoContainer p{
    /* color: #333; */
    font-size: 1.5rem;
}
.text{
    margin-top: 25px;
    margin-bottom: 35px;
    color: #333;
    text-align: center;
}
.methods{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.methods > a{
    display: flex;
    align-items: center;
    gap: 25px;
    border: solid rgba(0,0,0,0.3) 1px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.methods > a:hover{
    background-color: #f4f4f4;
}
.methods > a > p{
    margin: 0;
}

.methods > a > img{
    width: 20px;
    min-width: 20px;
    height: 20px;
}
@media screen and (max-width: 380px) {
    .loginCard{
        width: 100%;
    }
}